<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="true"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="Package Test Suit">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>